@model LolFightProjekat.Models.Admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Admin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdAdmin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdAdmin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eMail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eMail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageURL)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
