@model LolFightProjekat.Models.Admin


@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>


@if (Session["LogedUserFullname"] != null)
{
    <text>
        Welcome @Session["LogedUserFullname"].ToString()
    </text>
}
<ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li class="dropdown">
        <a href="Admin/AddAdmin" class="dropdown-toggle" data-toggle="dropdown">Admins <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="Admin/AddAdmin">View Admins</a></li>
            <li><a href="Admin/Create">Add Admins</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Items<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="AddItem">View Items</a></li>
            <li><a href="AddItem/Create">Add Items</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Champions<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="ChampionType">View Champions</a></li>
            <li><a href="ChampionType/Create">Add Champions</a></li>
        </ul>
    </li>
    <li><a href=" @Url.Action("Logout", "Admin", new { id = Model.IdAdmin }) ">Logout</a></li>
      
  
</ul>

<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.IdAdmin)
        </td>
        <td>
            @Html.DisplayFor(model => model.IdAdmin)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Username)
        </td>
        <td>
            @Html.DisplayFor(model => model.Username)
        </td>
    </tr>

    <tr>
        <td>

            @Html.DisplayNameFor(model => model.eMail)
        </td>
        <td>
            @Html.DisplayFor(model => model.eMail)

        </td>
    </tr>
    </table>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="@Url.Action("PretvoriUSliku", "Admin", new { id = Model.IdAdmin })" alt="..." />
        </a>
    </div>

    @using (Html.BeginForm("Upload", "Admin", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            Select a file
            <input type="file" name="file" />
            <input type="submit" class="btn-default" value="Upload" />
        </fieldset>
    }
