@model LolFightProjekat.Models.Account
@using Recaptcha

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>
        @Html.AntiForgeryToken()
        @if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
        }

      
            @Html.LabelFor(model => model.Username)
            @Html.TextBoxFor(model => model.Username, new { @placeholder = "username", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username)

            <br />
        
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @placeholder = "password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
            <br />

        
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
            <br />

       
            @Html.LabelFor(model => model.eMail)
       
        
            @Html.TextBoxFor(model => model.eMail,new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.eMail)
     
        @Html.Raw(Html.GenerateCaptcha())
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

