@model LolFightProjekat.Models.ChampionType

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ChampionType</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nation)
                @Html.ValidationMessageFor(model => model.Nation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageLink, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageLink)
                @Html.ValidationMessageFor(model => model.ImageLink)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HP)
                @Html.ValidationMessageFor(model => model.HP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttackDamage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttackDamage)
                @Html.ValidationMessageFor(model => model.AttackDamage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AbilityDamage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AbilityDamage)
                @Html.ValidationMessageFor(model => model.AbilityDamage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttackSpeed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttackSpeed)
                @Html.ValidationMessageFor(model => model.AttackSpeed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Armor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Armor)
                @Html.ValidationMessageFor(model => model.Armor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MagicResist, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MagicResist)
                @Html.ValidationMessageFor(model => model.MagicResist)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageURL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageURL)
                @Html.ValidationMessageFor(model => model.ImageURL)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
