@model IEnumerable<LolFightProjekat.Models.ChampionType>

<h2>View Champions</h2>
<ul class="nav nav-tabs">
    <li><a href="Admin">Home</a></li>
    <ul class="nav nav-tabs">
        <li><a href="../Admin">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admins <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="Admin/AddAdmin">View Admins</a></li>
                <li><a href="Admin/Create">Add Admins</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Items<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="AddItem">View Items</a></li>
                <li><a href="#">Add Items</a></li>
            </ul>
        </li>
        <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Champions<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="ChampionType">View Champions</a></li>
                <li><a href="ChampionType/Create">Add Champions</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">News<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="News">View News</a></li>
                <li><a href="News/Create">Add News</a></li>
            </ul>
        </li>
        <li><a href=" @Url.Action("Logout", "Admin", new { id = 1 }) ">Logout</a></li>
    </ul>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttackDamage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbilityDamage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttackSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Armor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MagicResist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttackDamage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbilityDamage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttackSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Armor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MagicResist)
        </td>
        <td>
            Images too long to show!
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdChampionType }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdChampionType }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdChampionType })
        </td>
    </tr>
}

</table>
